/* CSS declarations go here */

body {
	background-color: #BDB76B;
}

.row {
}

.tile {
	width: 50px;
	height: 50px;
	display: inline-block;
	margin: 0;
}

.tile.floor:hover {
	background-color:  rgba(0,0,0,0.5);
}

.tile.wall:hover {
	background-color:  rgba(112,112,112,0.5);
}

.floor {
	background-color: #777;
}

.wall {
	background-color: #000;
}

.tile.player {
	background-color: red;
}